<div class="flex flex-row w-full h-[100vh] justify-between bg-lightBlue/5 flex px-64 pt-32 pb-16">
    <div class="flex justify-between flex-col h-full w-[30%]">
        <p class="font-inter font-bold text-[24px] text-third">Complaints (6)</p>
        <div class="bg-white w-full h-full rounded-md shadow-xl px-4 overflow-scroll">
            <div class="flex flex-col shadow-md justify-evenly w-full rounded-xl cursor-pointer
                        my-4 px-[20px] py-2 h-[100px] border-[1px] border-third/10 hover:bg-[#dcdde1] transition-[0.5s]">
                <div class="flex flex-row justify-between items-center">
                    <p class="font-inter font-semibold text-third text-[18px]">COMPLAINT NUMBER 123</p>
                    <fa-icon [icon]="faTrash" class="text-third text-[16px] hover:text-lightBlue cursor-pointer transition-[0.5s]"/>
                </div>
                <div class="flex flex-row items-center">
                    <p class="font-inter font-light text-third text-[14px]">From: </p>
                    <p class="font-inter font-medium text-third text-[14px] ml-4">Nemkac</p>
                </div>
                <div class="flex flex-row items-center">
                    <p class="font-inter font-light text-third text-[14px]">Date: </p>
                    <p class="font-inter font-medium text-third text-[14px] ml-4">18/02/2020</p>
                </div>
            </div>
            <div class="flex bg-white w-full rounded-xl my-4 h-[100px] border-[1px] border-third/10">
                
            </div>
            <div class="flex bg-white w-full rounded-xl my-4 h-[100px] border-[1px] border-third/10">
                
            </div>
            <div class="flex bg-white w-full rounded-xl my-4 h-[100px] border-[1px] border-third/10">
                
            </div>
            <div class="flex bg-white w-full rounded-xl my-4 h-[100px] border-[1px] border-third/10">
                
            </div>
            <div class="flex bg-white w-full rounded-xl my-4 h-[100px] border-[1px] border-third/10">
                
            </div>
            <div class="flex bg-white w-full rounded-xl my-4 h-[100px] border-[1px] border-third/10">
                
            </div>
            <div class="flex bg-white w-full rounded-xl my-4 h-[100px] border-[1px] border-third/10">
                
            </div>
            <div class="flex bg-white w-full rounded-xl my-4 h-[100px] border-[1px] border-third/10">
                
            </div>
            <div class="flex bg-white w-full rounded-xl my-4 h-[100px] border-[1px] border-third/10">
                
            </div>
        </div>
    </div>
    <div class="flex h-full w-[65%] bg-white rounded-md shadow-xl"></div>
</div>