<form #updateEquipmentForm="ngForm" (ngSubmit)="onUpdateEquipment(updateEquipmentForm)" class="w-[600px] mx-auto bg-white p-4 rounded shadow-lg relative">
  <fa-icon [icon]="faClose" (click)="closeModal()"
          class="flex absolute top-[16px] right-[16px] cursor-pointer text-[28px] text-third hover:text-lightBlue transition-[0.5s]"></fa-icon>
  <div class="grid grid-cols-1 gap-4 items-center">
    <h2 class="text-2xl font-bold mb-4 text-center">Update Equipment</h2>

    <input ngModel name="name" type="text" class="border p-2 rounded" placeholder="Equipment Name" required>
    <input ngModel name="type" type="text" class="border p-2 rounded" placeholder="Equipment Type" required>
    <textarea ngModel name="description" class="border p-2 rounded" placeholder="Equipment Description" required></textarea>
    <input ngModel name="price" type="number" class="border p-2 rounded" placeholder="Equipment Price" required>
    <input ngModel name="image" type="text" class="border p-2 rounded" placeholder="Equipment Image URL" required>

    <button class="text-[20px] bg-third hover:bg-lightBlue transition-[0.5s] font-inter font-semibold 
                  text-white rounded-md h-[45px]" type="submit">
      Save changes
    </button>
  </div>
</form>
