<div [ngClass]="{'bg-transparent shadow-none h-[60px] py-12 px-[380px]': isTransparent,
                'bg-white shadow-xl h-[70px] px-64': !isTransparent}"  class="flex w-full bg-white fixed z-[5]
                items-center justify-between transition-[2s]">
    <a routerLink="/">
        <img src="../assets/NavLogo.png" [ngClass]="{'w-[250px] h-auto': isTransparent,
                                                    'w-[200px] h-auto': !isTransparent}"  
            class="w-[200px] cursor-pointer"/>
    </a>
    <ul [ngClass]="{'text-[18px]': isTransparent,
                     'text-[16px]': !isTransparent}" 
        class="flex flex-row font-inter font-medium cursor-pointer text-[#0582ca]">
        <li class="hover:text-third transition-[0.5s] mx-10">
            <a routerLink="/">
                HOME
            </a>
        </li>
        <li class="hover:text-third transition-[0.5s] mx-10">
            <a routerLink="/companies">
                COMPANIES
            </a>
        </li>
        <li class="hover:text-third transition-[0.5s] mx-10">
            <a routerLink="/equipment">
                EQUIPMENT
            </a>
        </li>
        <div class="flex items-center justify-between w-auto ml-10">
            <ng-container *ngIf="username === 'LOGIN'; else loggedInUser">
                <li class="hover:text-third transition-[0.5s]">
                    <a routerLink="/logIn">
                        {{ username }}
                    </a>
                </li>
            </ng-container>
            <ng-template #loggedInUser>
                <li class="hover:text-third transition-[0.5s]">
                    <div class="relative" ngbDropdown>
                        <a class="nav-link dropdown-toggle" ngbDropdownToggle>
                            {{ username }}
                        </a>
                        <div ngbDropdownMenu class="transition-all rounded-md h-auto shadow-md bg-white border-[0px] py-0">
                            <div class="flex w-full rounded-t-md text-third hover:bg-third hover:text-white p-[8px] ">
                                <a class="font-inter font-regular text-[17px]" routerLink="profile">Profile</a>
                            </div>
                            <ng-container *ngIf="userRole === 'ROLE_COMPANYADMIN'">
                                <div class="flex w-full text-third hover:bg-third hover:text-white p-[8px]">
                                    <a class="font-inter font-regular text-[17px]" routerLink="/mycompany">My company</a>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="userRole === 'ROLE_COMPANYADMIN'">
                                <div class="flex w-full text-third hover:bg-third hover:text-white p-[8px]">
                                    <a class="font-inter font-regular text-[17px]" routerLink="/qr-code-scanner">QR Scanner</a>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="userRole === 'ROLE_SYSADMIN'">
                                <div class="flex w-full text-third hover:bg-third hover:text-white p-[8px]">
                                    <a class="font-inter font-regular text-[17px]" routerLink="/complaints">Complaints</a>
                                </div>
                            </ng-container>
                            <div class="flex w-full rounded-b-md text-third hover:bg-third hover:text-white p-[8px]">
                                <a class="font-inter font-regular text-[17px]"  (click)="logOut()" href="#">LogOut</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ng-template>
        </div>
    </ul>
</div>