<div class="flex w-full bg-white h-[70px] px-64
                items-center justify-between shadow-xl">
    <img src="../assets/NavLogo.png" class="w-[200px] cursor-pointer"/>
    <ul class="flex flex-row font-inter font-medium cursor-pointer
                    text-[16px] text-secondary">
        <li class="hover:text-third transition-[0.5s] mx-10">
            <a href="#">
                HOME
            </a>
        </li>
        <li class="hover:text-third transition-[0.5s] mx-10">
            <a href="#">
                PRODUCTS
            </a>
        </li>
        <li class="hover:text-third transition-[0.5s] mx-10">
            <a href="#">
                CONTACT
            </a>
        </li>
        <li class="hover:text-third transition-[0.5s] ml-10">
            <a href="#">
                LOGIN
            </a>
        </li>
    </ul>
</div>