<div class="flex w-full bg-white h-[70px] px-64 fixed z-[5]
                items-center justify-between shadow-xl">
    <a routerLink="/">
        <img src="../assets/NavLogo.png" class="w-[200px] cursor-pointer"/>
    </a>
    <ul class="flex flex-row font-inter font-medium cursor-pointer
                    text-[16px] text-[#0582ca]">
        <li class="hover:text-third transition-[0.5s] mx-10">
            <a routerLink="/">
                HOME
            </a>
        </li>
        <li class="hover:text-third transition-[0.5s] mx-10">
            <a routerLink="/companies">
                COMPANIES
            </a>
        </li>
        <li class="hover:text-third transition-[0.5s] mx-10">
            <a routerLink="/equipment">
                EQUIPMENT
            </a>
        </li>
        <li class="hover:text-third transition-[0.5s] ml-10">
            <a href="#">
                LOGIN
            </a>
        </li>
    </ul>
</div>