<div class="flex flex-col h-screen">
    <div class="flex flex-row bg-lightBlue/5 items-center w-full h-full justify-center">
        <div class="flex w-[50%] h-[90%] py-auto items-center">
            <div class="flex flex-col">
                <div class="flex items-center justify-center w-[450px] h-[40px] bg-lightBlue px-auto mb-[30px]">
                    <p class="text-white font-inter font-semibold text-[20px]">
                        Up to 30% Off On Every Product
                    </p>
                </div>
                <h1 class="font-bold font-inter text-[72px] text-secondary leading-[60px]">
                    Welcome to HospitalHub
                    <span class="text-[34px]">Your Trusted Source for Medical Equipment Delivery</span>
                </h1>
                <p class="text-[21px] font-inter text-third mt-[20px]">
                    At HospitalHub, we understand the critical importance of timely access to high-quality medical equipment.
                    We're dedicated to providing healthcare professionals and institutions with a seamless and dependable solution for all their medical equipment needs.
                </p>
                <button class="w-[200px] bg-secondary hover:bg-third transition-[0.5s] h-[50px] text-[20px] font-inter font-semibold text-white rounded-md shadow-md mt-[30px]">
                    Shop Now
                </button>
            </div>
        </div>
        <div class="flex w-auto h-[90%] items-center justify-start">
            <img src="./assets/heroimg.png" class="w-[450px] h-auto"/>
        </div>
    </div>
</div>
