<div class="flex flex-col w-[550px] h-[350px] bg-white rounded-md p-4 justify-evenly">
    <p class="font-regular text-[24px] font-inter text-third">After the first login, you must change your password to continue using the site.<p>
    <div class="flex">
        <input type="password" id="newPassword" name="newPassword" placeholder="New password" required
        class="border p-2 rounded w-full" [(ngModel)]="newPassword">
    </div>
    <div class="flex">
        <input type="password" id="repeatedPassword" name="newPassword" placeholder="Repeat password" required
        class="border p-2 rounded w-full"  [(ngModel)]="repeatPassword">
    </div>
    <button class="bg-third font-inter text-white font-medium hover:bg-lightBlue transition-[1s] w-full h-[40px] rounded-md shadow-md text-[24px] mt-[20px]" (click)="changePassword()">Change Password</button>
</div>