<div class="flex flex-col bg-lightBlue/5 flex px-64 py-32 h-auto">
    <div class="flex flex-row w-full">
        <input class="h-[60px] w-[90%] rounded-l-full bg-third/20 text-white px-16 text-[24px] font-semibold focus:outline-none">
        <button class="h-[60px] w-[10%] bg-secondary text-white text-[24px] rounded-r-full items-center justify-center">
            <fa-icon [icon] = "faSearch"/>
        </button>
    </div>
    <div class="flex flex-col w-full justify-between mt-8">
        <div class="flex flex-row w-full h-[50px] bg-white rounded-md justify-between border-[1px] border-secondary/10 p-4 items-center">
            <p class="font-inter font-medium text-third text-[20px]">FILTER BY</p>
            <div class="flex flex-row items-center">
                <input type="radio" class="w-[17px] h-[17px]">
                <p class="font-inter font-medium text-[18px] ml-2 text-third">
                    Rate asc.
                </p>
            </div>
            <div class="flex flex-row items-center">
                <input type="radio" class="w-[17px] h-[17px]">
                <p class="font-inter font-medium text-[18px] ml-2 text-third">
                    Rate asc.
                </p>
            </div>
            <div class="flex flex-row items-center">
                <label for="types" class="text-third text-[18px] font-inter font-medium">Equipment type:</label>
                <select name="cars" id="cars" class="ml-2 w-[150px] h-[30px] text-third rounded-md font-inter text-[18px]">
                    <option value="mahine">Machines</option>
                    <option value="diagnostics">Diagnostics</option>
                    <option value="imaging">Imaging</option>
                    <option value="implantable">Implantables</option>
                </select>
            </div>
        </div>
        <div class="w-full h-auto mt-2">
            <app-equipmentcard/>
        </div>
    </div>
</div>
