<div class="flex flex-col h-[100vh] px-64 w-full bg-third items-center justify-center justify-evenly relative overflow-hidden">
    <img src="../../../assets/testimonials-bg.jpg" class="absolute top-0 left-0 opacity-[5%]">
    <div class="flex flex-col justify-center items-center">
        <p class="font-inter font-medium text-white text-[24px]">TESTIMONIALS</p>
        <div class="flex flex-row w-full items-center">
            <hr class="w-[300px] mr-[30px] m-auto text-white">
            <p class="font-inter font-bold text-white text-[50px]">What Clients Say</p>
            <hr class="w-[300px] ml-[30px] text-white">
        </div>
    </div>
    <app-testemonial-card/>
</div>
