<form #updateCompanyForm="ngForm" (ngSubmit)="onUpdateCompany()">
  <div class="flex flex-col bg-white w-[500px] h-[350px] py-4 items-center rounded-md justify-between border-[1px] border-secondary/10">
    <div>
      <p class="font-inter text-third font-medium text-[18px]">Id</p>
      <input #idInput="ngModel" [(ngModel)]="updateCompany.id" name="id" class="w-[200px] text-[18px] text-third font-inter px-4 rounded-md h-[30px] bg-gray/20 focus:outline-none" placeholder="Id" required>
    </div>
    <div>
      <p class="font-inter text-third font-medium text-[18px]">Company name</p>
      <input [(ngModel)]="updateCompany.name" name="name" class="w-[200px] text-[18px] text-third font-inter px-4 rounded-md h-[30px] bg-gray/20 focus:outline-none" placeholder="Company name" required>
    </div>
    <div>
      <p class="font-inter text-third font-medium text-[18px]">Country</p>
      <input [(ngModel)]="updateCompany.country" name="country" class="w-[200px] text-[18px] text-third font-inter px-4 rounded-md h-[30px] bg-gray/20 focus:outline-none" placeholder="Country" required>
    </div>
    <div>
      <p class="font-inter text-third font-medium text-[18px]">City</p>
      <input [(ngModel)]="updateCompany.city" name="city" class="w-[200px] text-[18px] text-third font-inter px-4 rounded-md h-[30px] bg-gray/20 focus:outline-none" placeholder="City" required>
    </div>
    <div class="modal-footer">
      <button type="submit" class="w-[200px] text-[20px] bg-secondary hover:bg-third transition-[0.5s] font-inter font-semibold 
                                  text-white rounded-md h-[45px]">Save changes</button>
    </div>
    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
  </div>
</form>
  