<div class="flex px-64 bg-lightBlue/5 relative">
    <div class="flex flex-col bg-white justify-between rounded-md shadow-md px-16 py-8 w-full h-[300px]">
        <p class="font-inter font-bold text-[28px] text-third">Search companies by:</p>
        <div class="flex flex-row justify-between">
            <div class="flex flex-col">
                <p class="font-inter font-light text-[20px] text-third">Name</p>
                <input class="w-[250px] shadow-md focus:outline-none h-[40px] font-inter font-regular text-[16px] px-4 rounded-md "
                        placeholder="Company name"/>
            </div>
            <div class="flex flex-col">
                <p class="font-inter font-light text-[20px] text-third">Country</p>
                <input class="w-[250px] shadow-md focus:outline-none h-[40px] font-inter font-regular text-[16px] px-4 rounded-md "
                        placeholder="Country"/>
            </div>
            <div class="flex flex-col">
                <p class="font-inter font-light text-[20px] text-third">City</p>
                <input class="w-[250px] shadow-md focus:outline-none h-[40px] font-inter font-regular text-[16px] px-4 rounded-md "
                        placeholder="City"/>
            </div>
            <div class="flex flex-col">
                <p class="font-inter font-light text-[20px] text-third">Rate</p>
                <input class="w-[250px] shadow-md focus:outline-none h-[40px] font-inter font-regular text-[16px] px-4 rounded-md "
                        placeholder="Average rate"/>
            </div>
        </div>
        <div class="flex w-full justify-end">
            <button class="rounded-md w-[250px] h-[45px] bg-secondary text-white font-inter font-semibold text-[20px]
                            hover:bg-lightBlue transition-[0.5s]">
                Search
            </button>
        </div>
    </div>
</div>

<app-objectcard></app-objectcard>
